.selected {
    background-color: skyblue;
}

.btn_container {
    display: flex;
    flex-wrap: wrap;
}
  
.btn_container button {
    border:none;
    font-size: 20px;
    cursor: pointer;
    background-color:white;
}
  